<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <title>Document</title>
</head>
<body>    
    <main>        
        <div class="container mt-5 ">            
            <div id="m" class="row ">
                  <img id="img0" class=" mx-auto d " src="{{ url_for('static', filename='images/0.jpg')}}"  alt="notfound">                   
                  <img id="img1" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/1.jpg')}}"  alt="notfound">  
                  <img id="img2" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/2.jpg')}}"  alt="notfound">  
                  <img id="img3" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/3.jpg')}}"  alt="notfound">  
                  <img id="img4" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/4.jpg')}}"  alt="notfound">  
                  <img id="img5" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/5.jpg')}}"  alt="notfound">  
                  <img id="img6" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/6.jpg')}}"  alt="notfound">  
                  <img id="img7" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/7.jpg')}}"  alt="notfound">  
                  <img id="img8" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/8.jpg')}}"  alt="notfound">  
                  <img id="img9" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/9.jpg')}}"  alt="notfound">  
                  <img id="img10" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/10.jpg')}}"  alt="notfound">  
                  <img id="img11" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/11.jpg')}}"  alt="notfound"> 
                  <img id="img12" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/12.jpg')}}"  alt="notfound">   
                  <img id="img13" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/13.jpg')}}"  alt="notfound">  
                  <img id="img14" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/14.jpg')}}"  alt="notfound">  
                  <img id="img15" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/15.jpg')}}"  alt="notfound">  
                  <img id="img16" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/16.jpg')}}"  alt="notfound">  
                  <img id="img17" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/17.jpg')}}"  alt="notfound">  
                  <img id="img18" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/18.jpg')}}"  alt="notfound">  
                  <img id="img19" class=" img1 img-fluid col-12 rounded-Corners mx-auto nd" src="{{ url_for('static', filename='images/19.jpg')}}"  alt="notfound">  
                 
                  <br>
                  <div class="jumbotron  ">
                      <div class="container">
                          <p class="row txt">وقتش رسیده که در این عید بزرگ عید غدیر قول بدیم و از قولمون مراقبت ویژه‌ای کنیم.🌱
                              برای قول به امام زمان علیه السلام بر روی دکمه زیر کلیک کنید و هدیه خودتون رو دریافت کنید.💌
                              این هدیه خیلی خاصه چون از طرف مهربان‌ترین پدر عالم، امام زمان به شماست.♥️</p>   
                      </div>
                    </div>                      
                  <button type="submit" class="btn btn-outline-success btn-lg  btn-lg mx-auto d-block" type = 'submit'>ثبت قول</button>   
            
                  <audio id="my_audio" src="{{ url_for('static', filename='music/aalie ala_Ali fani.mp3')}}" autoplay = 'autoplay' loop = 'loop' ></audio>
                </div>     
            </div>               
        </div>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>   
</body>
</html>





